## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here

Start = 0
Stop = 100
values = 80

sample_list_1 = random.sample(range(Start, Stop), values)
print(sample_list_1)

[86, 61, 85, 44, 66, 47, 54, 78, 73, 63, 35, 23, 39, 82, 51, 0, 79, 31, 33, 36, 96, 71, 87, 15, 25, 16, 1, 59, 7, 80, 56, 2, 52, 62, 3, 93, 17, 9, 65, 94, 13, 40, 28, 89, 49, 48, 4, 75, 24, 10, 12, 6, 58, 72, 46, 74, 57, 84, 83, 21, 99, 45, 11, 5, 81, 22, 14, 90, 8, 55, 77, 34, 20, 88, 97, 91, 18, 92, 70, 38]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
#Converting the list in a set:
set1 = set(sample_list_1)
print(set1)

# Printing the set length, still 80!
print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here

sample_list_2 = []
for i in range(0,80):
    sample_list_2.append(i)
print(sample_list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
#Converting the list in a set:
set2 = set(sample_list_2)
print(set2)

# Printing the set length, still 80!
print(len(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
print(set1)
print(set2)

set3 = []
for i in set1:
    if i not in set2:
        set3.append(i)
        
set3 = set(set3)
print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}
{96, 97, 99, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4 = []
for i in set2:
    if i not in set1:
        set4.append(i)
        
set4 = set(set4)
print(set4)

{32, 64, 67, 68, 37, 69, 41, 42, 43, 76, 50, 19, 53, 26, 27, 60, 29, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
# Your code here
set5 = []
for i in set1:
    if i in set2:
        set5.append(i)
        
set5 = set(set5)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [34]:
# Your code here

if (len(set1) - len(set3) == len(set5)) and (len(set2) - len(set4) == len(set5)):
    print ("F칩rmula matem치tica es set(1/2) - set(3/4) = set5")
else:
    print ("No hay relaci칩n")
    
print(set3)
print(set5)

No hay relaci칩n
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79}

#### Create an empty set called `set6`.

In [35]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [36]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [37]:
# Your code here
if set1 == set6:
    print ("Son iguales")
else:
    print ("Son diferentes")

Son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [51]:
# Your code here
# The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

#print(set1)
#print(set2)

value = set2.issubset(set1)
print(value)
value2 = set3.issubset(set1)
print(value2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}
False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [54]:
# Your code here

set3.union(set4, set5)
print(set3)

set3.union(set1, set2, set4, set5)
print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [59]:
# Your code here
print(set1)
set1.pop()
print(set1)

{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 31, 33, 34, 35, 36, 38, 39, 40, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 99}

TypeError: pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [67]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set7= set()
for i in set1:
    if i in list_to_remove:
        set7 = set1.discard(i)

print(set7)

RuntimeError: Set changed size during iteration